<!DOCTYPE html>
<html>
<head>
  <title>Crafter2be</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'style.css' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'form.css' => true %>
  <!-- Start menu -->
  <%= stylesheet_link_tag    'application', media: 'all', 'megamenu.css' => true %>
    
  <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'jquery1.min.js' => true %>
  <%= javascript_include_tag 'application', 'jquery.easydropdown.js' => true %>
  <!-- Start menu-->
  <%= javascript_include_tag 'application', 'megamenu.js' => true %>
  
  <%= csrf_meta_tags %>
  
  <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
</head>
<body>
  <div class="header-top">
     <div class="wrap"> 
      <div class="header-top-left">
         <div class="box">
            <select tabindex="4" class="dropdown">
                  <option value="" class="label" value="">Language :</option>
                  <option value="1">English</option>
                  <option value="2">French</option>
                  <option value="3">German</option>
            </select>
          </div>
          <div class="box1">
              <select tabindex="4" class="dropdown">
                  <option value="" class="label" value="">Currency :</option>
                  <option value="1">$ Dollar</option>
                  <option value="2">€ Euro</option>
              </select>
          </div>
          <div class="clear"></div>
       </div>
       <div class="cssmenu">
        <ul>
            <li class="active"><a href="login.html">Account</a></li> |
            <li><a href="checkout.html">Wishlist</a></li> |
            <li><a href="checkout.html">Checkout</a></li> |
            <li><a href="login.html">Log In</a></li> |
            <li><a href="register.html">Sign Up</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <div class="header-bottom">
    <div class="wrap">
      <div class="header-bottom-left">
        <div class="logo">
          <a href="index.html"><img src="assets/crafter2be.png" alt="crafter2be" height="70px" width=""/></a>
        </div>
        <div class="menu">
          <ul class="megamenu skyblue">
            <li class="active grid"><a href="index.html">Home</a></li>
            <li><a class="color4" href="#">Items</a>
              <div class="megapanel">
                <div class="row">
                  <div class="col1">
                    <div class="h_nav">
                      <h4>Deco-deco</h4>
                      <ul>
                        <li><a href="womens.html">Daily-wear soft lenses</a></li>
                        <li><a href="womens.html">Extended-wear</a></li>
                        <li><a href="womens.html">Lorem ipsum </a></li>
                        <li><a href="womens.html">Planned replacement</a></li>
                      </ul>	
                    </div>							
                  </div>
                  <div class="col1">
                    <div class="h_nav">
                      <h4>Bantal Baby</h4>
                      <ul>
                        <li><a href="womens.html">Heart-Shaped</a></li>
                        <li><a href="womens.html">Square-Shaped</a></li>
                        <li><a href="womens.html">Round-Shaped</a></li>
                        <li><a href="womens.html">Oval-Shaped</a></li>
                      </ul>	
                    </div>							
                  </div>
                </div>
              </div>
            </li>
            <li><a class="color6" href="other.html">Perkhidmatan</a></li>
            <li><a class="color7" href="other.html">Hubungi Kami</a></li>
        </ul>
      </div>
    </div>
    <div class="header-bottom-right">
      <div class="search">	  
        <input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" 
               onblur="if (this.value == '') {this.value = 'Search';}">
        <input type="submit" value="Subscribe" id="submit" name="submit">
        <div id="response"> </div>
      </div>
      <div class="tag-list">
        <ul class="icon1 sub-icon1 profile_img">
          <li><a class="active-icon c1" href="#"> </a>
            <ul class="sub-icon1 list">
              <li><h3>sed diam nonummy</h3><a href=""></a></li>
              <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
            </ul>
          </li>
        </ul>
        <ul class="icon1 sub-icon1 profile_img">
          <li><a class="active-icon c2" href="#"> </a>
            <ul class="sub-icon1 list">
              <li><h3>No Products</h3><a href=""></a></li>
              <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
            </ul>
          </li>
        </ul>
        <ul class="last"><li><a href="#">Cart(0)</a></li></ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="main">
  <div class="wrap">
    <%= yield %>
  </div>
</div>
<div class="footer">
  <div class="footer-top">
    <div class="wrap">
      <div class="section group example">
        <div class="col_1_of_2 span_1_of_2">
          <ul class="f-list">
            <li><img src="assets/gift.png"><span class="f-text">Hadiah Percuma Menanti Anda</span><div class="clear"></div></li>
          </ul>
        </div>
        <div class="col_1_of_2 span_1_of_2">
          <ul class="f-list">
            <li><img src="assets/3.png"><span class="f-text">Hubungi Kami : 012 - 430 5874 </span><div class="clear"></div></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="footer-middle">
    <div class="wrap">
     <div class="section group example">
      <div class="col_1_of_f_1 span_1_of_f_1">
         <div class="section group example">
           <div class="col_1_of_f_2 span_1_of_f_2">
              <h3>Facebook</h3>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=467599569947424";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
              <div class="like_box">	
                  <div class="fb-like-box" data-href="https://www.facebook.com/anekapilihanon9" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
              </div>
           </div>
           <div class="col_1_of_f_2 span_1_of_f_2">
             <h3>From Twitter</h3>
               <div class="recent-tweet">
                  <div class="recent-tweet-icon">
                      <span> </span>
                  </div>
                  <div class="recent-tweet-info">
                      <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                  </div>
                  <div class="clear"> </div>
               </div>
               <div class="recent-tweet">
                  <div class="recent-tweet-icon">
                      <span> </span>
                  </div>
                  <div class="recent-tweet-info">
                      <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                  </div>
                  <div class="clear"> </div>
              </div>
          </div>
          <div class="clear"></div>
        </div>
       </div>
       <div class="col_1_of_f_1 span_1_of_f_1">
         <div class="section group example">
           <div class="col_1_of_f_2 span_1_of_f_2">
            <h3>Informasi</h3>
              <ul class="f-list1">
                <li><a href="#">Duis autem vel eum iriure </a></li>
                <li><a href="#">anteposuerit litterarum formas </a></li>
                <li><a href="#">Tduis dolore te feugait nulla</a></li>
                 <li><a href="#">Duis autem vel eum iriure </a></li>
                <li><a href="#">anteposuerit litterarum formas </a></li>
                <li><a href="#">Tduis dolore te feugait nulla</a></li>
              </ul>
           </div>
           <div class="col_1_of_f_2 span_1_of_f_2">
             <h3>Hubungi Kami</h3>
                <div class="company_address">
                  <p>305 Tingkat 2, Blok 16,</p>
                  <p>Jalan Pinang Siri 18/3,</p>
                  <p>Seksyen 18, Shah Alam.</p>
                  <p>Phone:(012) 430 5874</p>
                  <p>Email: <span>hazwani214@gmail.com</span></p>
                 </div>
                 <div class="social-media">
                   <ul>
                      <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="#" target="_blank"> </a></span></li>
                      <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
                      <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a href="#" target="_blank"> </a></span></li>
                      <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li>
                  </ul>
                 </div>
            </div>
            <div class="clear"></div>
        </div>
       </div>
       <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="wrap">
      <div class="copy">
        <p>© 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
      </div>
      <div class="f-list2">
       <ul>
          <li class="active"><a href="about.html">About Us</a></li> |
          <li><a href="delivery.html">Delivery & Returns</a></li> |
          <li><a href="delivery.html">Terms & Conditions</a></li> |
          <li><a href="contact.html">Contact Us</a></li> 
       </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
</body>
</html>
